{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="col-md-9">
        {% for item in posts %}
        <div class="row">
            <div class="col-md-12 post">
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <strong><a href="{{ url( 'app_blog_id' , {'id' : item.id}) }}" class="post-title">{{ item.title }}</a></strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 post-header-line">
                        <span class="glyphicon glyphicon-user"></span>by <a href="#">{{ item.user.firstname ~ ' ' ~  item.user.lastname }}</a> | <span class="glyphicon glyphicon-calendar">
                            </span>{{ item.createdAt | date("d/m/Y H:i")}} <span class="glyphicon glyphicon-comment">
                    </div>
                </div>
                <div class="row post-content">
                    <div class="col-md-3">
                        <a href="#">
                            <img src="{{ item.image }}" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <p>
                            {{ item.content |striptags|slice(0, 500) ~ '...' }}
                        </p>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>

    </div>
    <div class="col-lg-3">
        <div class="card" style="width: 18rem; float: right">
            <div class="card-body">
                <div class="clearfix"></div>
                <div class="margin-top-15">
                    {% if is_granted('ROLE_USER') %}
                        <p><img src="{{ app.user.avatar }}" alt=""> </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" color="green" width="16" height="16" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                            </svg>
                            {{ app.user.firstname | capitalize }} - {{ app.user.lastname | upper}} </p>
                        <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                            Déconnexion
                        </a>
                    {% else %}
                        <h5 class="card-title">Connexion via Google</h5>
                        <a class="margin-top-15 btn btn-outline-danger" href="{{ url('connect_google') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                            </svg>
                            Connexion
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
